fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
sentence-transformers
groq
google-api-python-client
apscheduler
alembic
PyJWT
google-auth
requests
feedparser==6.0.11
httpx==0.27.0
pytest
pgvector==0.3.6
resend==2.6.0
